spring:
  application:
    name: Consumer-Service

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: "http://localhost:8761/eureka"
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: shutdown
  endpoint:
    shutdown:
      access: unrestricted